<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список товаров</title>
</head>
<body>
<h1>Список товаров</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Название</th>
        <th>Цена</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}">Id</td>
        <td th:text="${product.name}">Название</td>
        <td th:text="${product.price}">Цена</td>
    </tr>
    </tbody>
</table>
<a href="/add-new">Добавить новый товар</a>
<a href="/delete">Удалить существующий</a>
</body>
</html>